﻿.ModalPopupBG
{    
	background-color: #aaa;
	filter: alpha(opacity=50);
	opacity: 0.7;
}

.popupConfirmation
{    
    width: 900px;
	height: 752px;
}

.popupConfirmation2
{    
    width: 300px;
	height: 100px;
}

.popupConfirmation3
{    
    width: 150px;
	height: 700px;
}

.popup_Container {
	background-color:#FFFFFF;
	/*border:1px solid #000000;*/
	padding: 0px 0px 0px 0px;
	position: relative;	
}

.popup_Titlebar
{
	background-color: #1A9466;
    height: 45px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: Helvetica;
	}
	
	.popupinfo 
{
	font-family: Helvetica;
	color: white;
	font-size: 15px;
	float: left;
	margin-top: 13px;
	margin-left: 13px;
	}
	
.popup_Buttons
{
   text-align: right;
    margin: 10px;
    padding-bottom: 10px;
}
.popup_btnCancelar
{
    border: 0;
    padding: 6px 40px 8px 40px;
    background: gray;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /*/*float: right;*/*/
    /* margin-right: 8px; */
    /* width: 95%; */
}

.popup_btnCancelar2
{
     border: 0;
    padding: 4px 13px 4px 13px;
    background: gray;
    color: white;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /* float: right; */
    /* margin-right: 8px; */
    /* width: 95%; */

}
.popup_Body
{
    padding:15px 15px 15px 15px;
	font-family:Arial;
	font-weight:bold;
	font-size:12px;
	color:#000000;
	line-height:15pt;
	clear:both;
	padding:20px; 
}
.popup_btnGuardar
{
	    border: 0;
    padding: 4px 13px 4px 13px;
    background: #1A9466;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    /* float: right; */
    /* width: 95%; */
}

	