<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<style>
        #accordion 
        .ui-accordion-content {
    width: 100%;
    color: rgb(43, 39, 39);
    font-size: 10pt;
    line-height: 16pt;
    }
    table {
              font-family: arial, sans-serif;
              border-collapse: collapse;
              width: 100%;
            }
            
            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
            }
            
            tr:nth-child(even) {
              background-color: #dddddd;
            }
    </style>

<head runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>AAGEDE</title>
    <link href="../css/menu.css" rel="stylesheet" />
    <link href="../css/site.css" rel="stylesheet" />
    <link href="../css/hover.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap_css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>  
<div ng-app="myApp" ng-controller="customersCtrl"> 
    <form id="form1" runat="server">
            <section class="section_color">
                    <a class="navbar-brand2" href="Home.aspx">
                            <img src="../images/logo_aagede.jpg" width="250" height="140" alt="" /></a>
                    <div class="container">
                        <div id='cssmenu'>
                            <div style="float: right; text-align: right;">
                                <div class="bienvenido">
                                   <H4 > SISTEMA DE BUSQUEDA Y GESTIÓN DE ALMACENES Y TRANSPORTES </H4>
                                </div>
                                <div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
        <div>
           <div class="container espacio_login">
                <fieldset>
                        <div class="col-md-12" >
                                <div class="col-md-3">
                                    <br />
                                    <div class="input-group input-group-md" style="padding-bottom: 8px;">
                                        <input type="text" class="form-control" placeholder="Código" ng-model="codigoValue">
                                        <span class="input-group-addon"><i class="fas fa-barcode"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-4"><br />
                                    <div class="input-group input-group-md" style="padding-bottom: 8px;">
                                        <input type="text" class="form-control" placeholder="Nombre" ng-model="nombreValue">
                                        <span class="input-group-addon"><i class="fas fa-warehouse"></i></span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                        <br />
                                        <div class="input-group input-group-md" style="padding-bottom: 8px;">
                                            <input type="text" class="form-control" placeholder="Dirección">
                                            <span class="input-group-addon"> <i class="fas fa-map-marker-alt"></i></span> <br /> <br />
                                        </div>
                                </div>
                            </div>
                </fieldset>
                <table>
                        <tr>
                            <th>Codigo de bodega</th>    
                            <th>Nombre de Bodega</th>
                            <th>Dirección</th>
                            <th>Capacidad</th>
                            <th>Tipo de bodega</th>
                            <th>Tipo de Productos almac.</th>
                            <th>Tipo Financiamiento</th>
                            <th>Estatus</th>
                            <th>Ver Localizacion</th>
                        </tr>
                        <!-- <tr ng-repeat="x in alma" ng-if="x.codigo==002 && x.nombre==1 && x.direccion==1 && x.capacidad==1 && x.tipoBodega==1 && x.tipoProductos==1 && x.tipofinanciamiento==1 && x.Estatus==a"></tr> -->
                        <!-- ng-if="x.nombre=='Bodega'"ng-if="x.direccion==1"ng-if="x.capacidad==1"ng-if="x.tipoBodega==1"ng-if="x.tipoProductos==1" ng-if="x.tipofinanciamiento==1" ng-if="x.Estatus==1" -->
                        <!-- ng-if="x.codigo==001 || x.nombre=='Bodega' || x.direccion==a" -->
                        <tr ng-repeat="x in alma" >
                          <td>{{x.codigo}}</td>
                          <td>{{x.nombre}}</td>
                          <td>{{x.direccion}}</td>
                          <td>{{x.capacidad}}</td>
                          <td>{{x.tipoBodega}}</td>
                          <td>{{x.tipoProductos}}</td>
                          <td>{{x.tipofinanciamiento}}</td>
                          <td>{{x.estatus}}</td>
                          <td></td>
                        </tr>
                </table>
            </div>
        </div>
    </form>
</div> 

<br/>
<br/>
    <footer id="myFooter"><br/>
            <div class="footer-copyright">
                 <img src="../images/logo_bnco.png" width="160" height="36" alt="" />
                 <p style="color:black">Bloxity development 2019</p>
            </div>
    </footer>
</body>

<script>
$( function() {
  $( "#accordion" ).accordion();
} );
</script>

<script>
        var BodegasJSON = 
            [{
                "id": "1",
                "codigo": "001",
                "nombre": "Bodega test",
                "direccion":"",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur"},
           {
                "id": "2",
                "codigo": "002",
                "nombre": "Bodega",
                "direccion":"a",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur",
           },
           {
                "id": "3",
                "codigo": "003",
                "nombre": "Bodega Norte 3",
                "direccion":"a",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur",
           },
           {
                "id": "4",
                "codigo": "004",
                "nombre": "Bodega Norte 4",
                "direccion":"",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur",
           },
           {
                "id": "5",
                "codigo": "005",
                "nombre": "Bodega Norte 5",
                "direccion":"",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur",
           },
           {
                "id": "6",
                "codigo": "006",
                "nombre": "Bodega Norte 2",
                "direccion":"",
                "capacidad":"",
                "tipoBodega": "1",
                "tipoProductos": "1",
                "tipofinanciamiento": "1",
                "estatus":"norte",
                "descripcion": "Bodega ubicaad en la zona sur",
           },
           ];
        var app = angular.module('myApp', []);
        app.controller('customersCtrl', function($scope, $http) {
            $scope.codigoValue= 0;
            $scope.nombreValue=null;
            $scope.direccionValue;
            $scope.capacidadValue;
            $scope.tipoBodegaValue;
            $scope.tipoProductosValue;
            $scope.tipofinanciamientoValue;
            $scope.estatusValue;
            $scope.alma = BodegasJSON;
        });
        </script>
       
</html>








