<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>AAGEDE</title>
  <link href="../css/menu.css" rel="stylesheet" />
  <link href="../css/site.css" rel="stylesheet" />
  <link href="../css/hover.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
  <link href="../Content/fontawesome.css" rel="stylesheet" />
  <link href="../Content/fontawesome.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Bootstrap -->
  <!-- jquery -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- jquery -->
</head>

<body>

  <form id="form1" runat="server">
    <section class="section_color">
      <a class="navbar-brand2" href="Home.html">
        <img src="../images/logo_aagede.jpg" width="200" height="110" alt="" /></a>
      <div class="container">
        <div id='cssmenu'>
          <div style="float: right; text-align: right;">
            <div class="bienvenido">
              <H4> SISTEMA DE BUSQUEDA Y GESTIÓN DE ALMACENES Y BODEGAS </H4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="row">
      <hr />
      <div class="row" style="margin-left: 100px;">
        <div class="col-md-12">
          <div class="col-md-4">
          </div>
          <div class="col-md-3">
            <input class="form-control" type="text" placeholder="Buscar por RFC..." ng-model="codigoValue.rfc"
              list="datalist1" />
            <datalist id="datalist1">
              <option value="HESA941002AW"></option>
            </datalist>
          </div>
          <div class="col-md-2">
            <input class="btn btn-primary" type="button" onclick="location.href='http://almacenes.bloxity.mx/Demo/Index';"
              value="Buscar" />
          </div>
          <div class="col-md-2"></div>
        </div>

      </div>
      <hr />
    </div>
    <div>
      <div class="container espacio_login">
        <div class="content fadeIn animated" style="animation-duration: 1s;">
          <div class="col-md-12"><br />
            <div class="form-horizontal">
              <fieldset>
                <img src="../images/CertificadosPais4.PNG" alt=""
                  style="margin-top: 30px;margin-bottom: auto;margin-left: 100px;" usemap="#workmap">
                <map name="workmap">
                  <area shape="rect" alt="BajaCalifornia" coords="523,173,465,101" href="reporteCDEstado.html">
                </map>
              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br />
  <br />
  <footer id="myFooter"> <br />
    <div class="footer-copyright">
      <img src="../images/logo_bnco.png" width="160" height="36" alt="" />
      <p style="color:black">Bloxity development 2019</p>
    </div>
  </footer>
</body>

<script>
  $(function () {
    var icons = {
      header: "ui-icon-circle-arrow-e",
      activeHeader: "ui-icon-circle-arrow-s"
    };
    $("#accordion").accordion({
      icons: icons
    });
    $("#toggle").button().on("click", function () {
      if ($("#accordion").accordion("option", "icons")) {
        $("#accordion").accordion("option", "icons", null);
      } else {
        $("#accordion").accordion("option", "icons", icons);
      }
    });
  });
</script>
<style>
  #accordion .ui-accordion-content {
    width: 100%;

    color: rgb(43, 39, 39);
    font-size: 10pt;
    line-height: 16pt;
  }
</style>

</html>