﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login_Login" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" />
    <link href="../Content/fontawesome.css" rel="stylesheet" />
    <link href="../Content/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/Login.css" type="text/css" rel="stylesheet" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Agroblockchain</title>
</head>

<body>
    <form id="form1" runat="server">
        <div>
            <div class="container espacio_login">
                <div class="content fadeIn animated" style="animation-duration: 2s;">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <fieldset>

                                <legend>
                                 <img  class="img_logo" src="images/logo_login.png" width="150" height="100" /></legend>
                                <div class="" style="width:100%;">
                                    
                                    <div class="input-group input-group-md" style="padding-bottom: 8px;">
                                        <asp:Label ID="lblUsuario" runat="server" Text="Usuario: " CssClass="input-user" style="display: table-caption;white-space: nowrap;"></asp:Label>
                                    <asp:TextBox ID="txtUsuario" AutoCompleteType="Email" runat="server" placeholder="Usuario" TabIndex="2" CausesValidation="true" CssClass="form-control" style="border-radius: 3px 0px 0px 3px;"> </asp:TextBox>
                                        <span class="input-group-addon"><i class="fas fa-user"></i></span>
                                    </div>
                                </div>

                                <div class="" style="width:100%;">

                                    <div class="input-group input-group-md" style="padding-bottom: 8px;">
                                        <asp:Label ID="lblContraseña" runat="server" Text="Contraseña: "  CssClass="input-user" style="display: table-caption;white-space: nowrap;"></asp:Label>
                                       
                                        <asp:TextBox ID="txtContrasena" TextMode="Password" runat="server" Placeholder="Contraseña" CausesValidation="true" CssClass="form-control" style="border-radius: 3px 0px 0px 3px;"></asp:TextBox>
                                         <span class="input-group-addon"><i class="fas fa-key"></i></span>
                                    </div>
                                </div>
                                <div class="boton_margen">
                                    <asp:Button ID="btnAcceder" runat="server" Text="Iniciar"  meta:resourcekey="btnAcceder"  CssClass="boton_enviar"  style="width:100%;" runat="server" OnClick="Unnamed_Click"/>
                                </div>
                                <div class="row version">
                                    <div class="col-md-12"> 
                                        <h6>Rev. 230718</h6>      
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
        </div>
    </form>
</body>
</html>
